@model BLL.PageModel.OrderModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<style type="text/css">

</style>

<div class="container">
    <div class="row">
    </div>
</div>

<script type="text/javascript">

    $(function () {

    });
</script>

