
.vs/
WebApplication1/bin/
WebApplication1/obj/
BLL/obj/
WebApplication1/obj/
DAL/obj/
BLL/bin/Debug/netstandard2.0/BLL.deps.json
BLL/bin/Debug/netstandard2.0/BLL.dll
BLL/bin/Debug/netstandard2.0/BLL.pdb
DAL/bin/Debug/netstandard2.0/Base.dll
DAL/bin/Debug/netstandard2.0/Base.pdb
DAL/bin/Debug/netstandard2.0/DAL.deps.json
DAL/bin/Debug/netstandard2.0/DAL.dll
DAL/bin/Debug/netstandard2.0/DAL.pdb
WebApplication1/obj/project.assets.json
WebApplication1/obj/WebApplication1.csproj.nuget.cache
WebApplication1/obj/WebApplication1.csproj.nuget.dgspec.json
WebApplication1/obj/WebApplication1.csproj.nuget.g.props
Base/obj/Debug/netstandard2.0/Base.AssemblyInfo.cs
Base/obj/Debug/netstandard2.0/Base.AssemblyInfoInputs.cache
Base/obj/Debug/netstandard2.0/Base.assets.cache
Base/obj/Debug/netstandard2.0/Base.csproj.CoreCompileInputs.cache
Base/obj/Debug/netstandard2.0/Base.csproj.FileListAbsolute.txt
Base/obj/Debug/netstandard2.0/Base.csprojAssemblyReference.cache
Base/obj/Debug/netstandard2.0/Base.dll
Base/obj/Debug/netstandard2.0/Base.pdb
.vs/WebApplication1/config/applicationhost.config
.vs/WebApplication1/v16/.suo
Base/bin/Debug/netstandard2.0/Base.deps.json
.vs/WebApplication1/config/applicationhost.config
.vs/WebApplication1/v16/.suo
Base/bin/Debug/netstandard2.0/Base.dll
Base/bin/Debug/netstandard2.0/Base.pdb
Base/obj/Base.csproj.nuget.cache
Base/obj/Base.csproj.nuget.dgspec.json
Base/obj/Base.csproj.nuget.g.props
Base/obj/Base.csproj.nuget.g.targets
Base/obj/project.assets.json
WebApplication1/obj/project.assets.json
WebApplication1/obj/WebApplication1.csproj.nuget.cache
WebApplication1/obj/WebApplication1.csproj.nuget.dgspec.json
WebApplication1/obj/WebApplication1.csproj.nuget.g.props
WebApplication1/obj/project.assets.json
WebApplication1/obj/WebApplication1.csproj.nuget.cache
WebApplication1/obj/WebApplication1.csproj.nuget.dgspec.json
WebApplication1/obj/WebApplication1.csproj.nuget.g.props
.vs/WebApplication1/config/applicationhost.config
.vs/WebApplication1/v16/.suo
BLL/bin/Debug/netstandard2.0/Base.dll
BLL/bin/Debug/netstandard2.0/Base.pdb
BLL/bin/Debug/netstandard2.0/DAL.dll
BLL/bin/Debug/netstandard2.0/DAL.pdb
UnitTestBLL/bin/Debug/netcoreapp2.1/Base.dll
UnitTestBLL/bin/Debug/netcoreapp2.1/Base.pdb
UnitTestBLL/bin/Debug/netcoreapp2.1/BLL.dll
UnitTestBLL/bin/Debug/netcoreapp2.1/BLL.pdb
UnitTestBLL/bin/Debug/netcoreapp2.1/DAL.dll
UnitTestBLL/bin/Debug/netcoreapp2.1/DAL.pdb
UnitTestBLL/bin/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
UnitTestBLL/bin/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
UnitTestBLL/bin/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
UnitTestBLL/bin/Debug/netcoreapp2.1/UnitTestBLL.deps.json
UnitTestBLL/bin/Debug/netcoreapp2.1/UnitTestBLL.dll
UnitTestBLL/bin/Debug/netcoreapp2.1/UnitTestBLL.pdb
UnitTestBLL/bin/Debug/netcoreapp2.1/UnitTestBLL.runtimeconfig.dev.json
UnitTestBLL/bin/Debug/netcoreapp2.1/UnitTestBLL.runtimeconfig.json
UnitTestBLL/obj/Debug/netcoreapp2.1/UnitTestBLL.AssemblyInfo.cs
UnitTestBLL/obj/Debug/netcoreapp2.1/UnitTestBLL.AssemblyInfoInputs.cache
UnitTestBLL/obj/Debug/netcoreapp2.1/UnitTestBLL.assets.cache
UnitTestBLL/obj/Debug/netcoreapp2.1/UnitTestBLL.csproj.CopyComplete
UnitTestBLL/obj/Debug/netcoreapp2.1/UnitTestBLL.csproj.FileListAbsolute.txt
UnitTestBLL/obj/Debug/netcoreapp2.1/UnitTestBLL.csprojAssemblyReference.cache
UnitTestBLL/obj/Debug/netcoreapp2.1/UnitTestBLL.dll
UnitTestBLL/obj/Debug/netcoreapp2.1/UnitTestBLL.pdb
UnitTestBLL/obj/Debug/netcoreapp2.1/UnitTestBLL.Program.cs
UnitTestBLL/obj/project.assets.json
UnitTestBLL/obj/UnitTestBLL.csproj.nuget.cache
UnitTestBLL/obj/UnitTestBLL.csproj.nuget.dgspec.json
UnitTestBLL/obj/UnitTestBLL.csproj.nuget.g.props
UnitTestBLL/obj/UnitTestBLL.csproj.nuget.g.targets
WebApplication1/obj/project.assets.json
WebApplication1/obj/WebApplication1.csproj.nuget.cache
WebApplication1/obj/WebApplication1.csproj.nuget.dgspec.json
WebApplication1/obj/WebApplication1.csproj.nuget.g.props
WebApplication1/obj/project.assets.json
WebApplication1/obj/WebApplication1.csproj.nuget.cache
WebApplication1/obj/WebApplication1.csproj.nuget.dgspec.json
WebApplication1/obj/WebApplication1.csproj.nuget.g.props
DALCore/obj/project.assets.json
DALCore/obj/Debug/netstandard2.0/DALCore.csprojAssemblyReference.cache
DALCore/obj/Debug/netstandard2.0/DALCore.csproj.FileListAbsolute.txt
DALCore/obj/Debug/netstandard2.0/DALCore.assets.cache
DALCore/obj/Debug/netstandard2.0/DALCore.AssemblyInfoInputs.cache
DALCore/obj/Debug/netstandard2.0/DALCore.AssemblyInfo.cs
DALCore/obj/DALCore.csproj.nuget.g.targets
DALCore/obj/DALCore.csproj.nuget.g.props
DALCore/obj/DALCore.csproj.nuget.dgspec.json
DALCore/obj/DALCore.csproj.nuget.cache
DALCore/bin/Debug/netstandard2.0/DALCore.deps.json
BLL/bin/Debug/netstandard2.0/DAL.dll
.vs/WebApplication1/v16/.suo
BLL/bin/Debug/netstandard2.0/DAL.pdb
BLL/bin/Debug/netstandard2.0/DAL.dll
.vs/WebApplication1/v16/.suo
