
.vs/
WebApplication1/bin/
WebApplication1/obj/
BLL/obj/
WebApplication1/obj/
DAL/obj/
BLL/bin/Debug/netstandard2.0/BLL.deps.json
BLL/bin/Debug/netstandard2.0/BLL.dll
BLL/bin/Debug/netstandard2.0/BLL.pdb
DAL/bin/Debug/netstandard2.0/Base.dll
DAL/bin/Debug/netstandard2.0/Base.pdb
DAL/bin/Debug/netstandard2.0/DAL.deps.json
DAL/bin/Debug/netstandard2.0/DAL.dll
DAL/bin/Debug/netstandard2.0/DAL.pdb
WebApplication1/obj/project.assets.json
WebApplication1/obj/WebApplication1.csproj.nuget.cache
WebApplication1/obj/WebApplication1.csproj.nuget.dgspec.json
WebApplication1/obj/WebApplication1.csproj.nuget.g.props
Base/obj/Debug/netstandard2.0/Base.AssemblyInfo.cs
Base/obj/Debug/netstandard2.0/Base.AssemblyInfoInputs.cache
Base/obj/Debug/netstandard2.0/Base.assets.cache
Base/obj/Debug/netstandard2.0/Base.csproj.CoreCompileInputs.cache
Base/obj/Debug/netstandard2.0/Base.csproj.FileListAbsolute.txt
Base/obj/Debug/netstandard2.0/Base.csprojAssemblyReference.cache
Base/obj/Debug/netstandard2.0/Base.dll
Base/obj/Debug/netstandard2.0/Base.pdb
.vs/WebApplication1/config/applicationhost.config
.vs/WebApplication1/v16/.suo
Base/bin/Debug/netstandard2.0/Base.deps.json
.vs/WebApplication1/config/applicationhost.config
.vs/WebApplication1/v16/.suo
Base/bin/Debug/netstandard2.0/Base.dll
Base/bin/Debug/netstandard2.0/Base.pdb
Base/obj/Base.csproj.nuget.cache
Base/obj/Base.csproj.nuget.dgspec.json
Base/obj/Base.csproj.nuget.g.props
Base/obj/Base.csproj.nuget.g.targets
Base/obj/project.assets.json
WebApplication1/obj/project.assets.json
WebApplication1/obj/WebApplication1.csproj.nuget.cache
WebApplication1/obj/WebApplication1.csproj.nuget.dgspec.json
WebApplication1/obj/WebApplication1.csproj.nuget.g.props
WebApplication1/obj/project.assets.json
WebApplication1/obj/WebApplication1.csproj.nuget.cache
WebApplication1/obj/WebApplication1.csproj.nuget.dgspec.json
WebApplication1/obj/WebApplication1.csproj.nuget.g.props
