<div class="container-md">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            @Html.Label("錯誤訊息")
            @Html.Label(((Exception)ViewData["Exception"]).Message)
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            @Html.Label("錯誤內容")
            @Html.Label(((Exception)ViewData["Exception"]).StackTrace)
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
